<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Disapearing Ninjas</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheet.css')}}">
    </head>
    <body>
        <img src="{{url_for('static',filename='images/donatello.jpg')}}" alt="donatello" ><a href ="/showninja"> purple<a>
        <img src="{{url_for('static',filename='images/leonardo.jpg')}}" alt="leonardo"><a href ="/showninja"> blue<a>
        <img src="{{url_for('static',filename='images/michelangelo.jpg')}}" alt="michelangelo"><a href ="/showninja"> orange<a>
        <img src="{{url_for('static', filename='images/raphael.jpg')}}" alt="raphael"><a href ="/showninja"> red<a>
    </body>
</html>
